body, html {
    background: black;
}

.header {
    background: white;
    padding: 10px;
    margin: 10px;
}

.navigation {
 
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    overflow: hidden;
}